.row{
    height: 100px;
    font-size: 100px;
    color: antiquewhite;
    text-align: center;
}

.grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}